<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %class:%L] [%t] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="root" level="DEBUG">
        <appender-ref ref="console" />
    </logger>
</configuration>